@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-rhino: #2B3153;
  --color-easternBlue: #2582B9;
  --color-shakespeare: #3CA3CC;
  --color-whiteIce: #DDF6F9;
  --color-orange: #FC5130;
  --color-black: #050401;
  --color-lightBlack: #303036;
  --color-white: #FFFAFF;
  --color-gray: #BFC0C0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


body, html {
  @apply m-0 p-0 h-full
}


html {
  scroll-behavior: smooth
}

/* NAVBAR */
.navbar {
  @apply h-[160px] w-full flex-row justify-between gap-4 p-8 hidden lg:flex;
}

.navbar-logo {
  @apply flex flex-row text-center gap-4
}

.navTitle {
  @apply my-auto text-[40px] font-bold;
  color: --color-gray;
}

.navbar-nav {
  @apply my-auto justify-center mx-auto
}

.navbar-nav-elements {
  @apply w-full my-auto flex-row flex gap-10
}

.navbar-nav-element {
  @apply my-auto text-[20px];
  color: --color-gray;
}

.navbar-nav-element:hover {
  @apply text-[var(--color-orange)] underline underline-offset-2 transition duration-700 ease-in-out
}

.navLink-bold {
  @apply font-bold;
}

.navLink {
  @apply font-normal;
}

.navbar-join-button {
  @apply my-auto text-[20px] font-bold px-10;
  background-color: var(--color-gray);
  color: var(--color-lightBlack);
  border-width: 0;
}

.navbar-join-button-hover {
  background-color: transparent;
  border-color: var(--color-gray);
  color: var(--color-gray);
}

/* MOBILE NAV */
.mobileNav {
  @apply h-[100px] w-full flex-row justify-between gap-4 p-8 flex lg:hidden;
}

.mobile-navTitle {
  @apply my-auto text-3xl font-bold text-custom-gray;
}

.mobile-icon {
  @apply text-3xl text-custom-gray h-7 w-7 my-auto;
}

.hoverTransition {
  @apply transform transition-transform duration-300 hover:scale-125;
}

/* FOOTER */
.footer {
  @apply p-40 py-20 bg-[var(--color-white)] w-full h-auto hidden md:flex flex-row justify-between;
}

.footer-branding {
  @apply flex flex-col self-start;
}

.footer-branding-text {
  @apply flex-col flex font-normal text-[15px] text-[var(--color-rhino)] leading-7 mt-5;
}

.footer-socials-container {
  @apply flex flex-row self-end mt-16;
}

.socials-elements {
  @apply flex flex-row gap-5
}

.socials-element {
  @apply stroke-white;
}

.footer-nav-container {
  @apply w-2/3 flex flex-row justify-end gap-10;
}

.footer-mainPages {
  @apply font-normal text-[14px] text-[var(--color-rhino)] my-5
}

.footer-subPages {
  @apply font-normal text-[16px] text-[var(--color-rhino)] my-3
}

.footer-subPages:hover {
  @apply text-[var(--color-orange)] underline underline-offset-2 transition duration-700 ease-in-out
}

.footer-pageContainer {
  @apply h-auto w-32 text-left
}



/* MOBILE FOOTER */
.mobile-footer {
  @apply flex flex-col md:hidden w-full h-auto bg-custom-white p-10;
}

.mobile-footer-nav-container {
  @apply w-full flex flex-col justify-start gap-2 items-center;
}

.mobile-footer-pageContainer {
  @apply h-auto w-full text-center;
}

.mobile-footer-mainPages {
  @apply font-normal text-xl text-[var(--color-gray)] my-5
}

.mobile-footer-subPages {
  @apply font-normal text-2xl text-[var(--color-rhino)] my-3
}



.mobile-footer-branding-text {
  @apply flex-col flex font-normal text-[15px] text-[var(--color-rhino)] leading-7 mt-5;
}




/* HOME PAGE */
.home-sectionBackground {
  @apply bg-[url('../public/assets/images/starfield.png')] bg-cover bg-center
}

.home-left {
  @apply my-auto justify-end flex flex-col
}

.home-right {
  @apply justify-center my-auto flex flex-col h-full
}


/* REUSABLE ELEMENTS */
/* COVER PAGE */
.coverPage {
  /* background-image: url('../public/assets/images/home-cover.jpg'); */
  /* bg-[url('/img/hero-pattern.svg')] */
  /* bg-[url('../public/assets/images/home-cover.jpg')] */
  @apply bg-cover bg-center

}

.gradient {
  @apply flex flex-col h-full w-full absolute inset-0 bg-gradient-to-b from-white/0 to-black/100
}

.cover-textContainer {
  @apply flex flex-col justify-between mx-auto my-auto w-full md:w-2/3 lg:w-1/2 h-full text-center py-20
}

.cover-branding {
  /* color: var(--color-orange); */
  @apply font-medium text-[18px] leading-8 tracking-[5px] indent-0 text-[var(--color-orange)]
}

.cover-title {
  /* color: var(--color-whiteIce); */
  @apply font-bold text-[4rem] md:text-[4rem] lg:text-[5rem] xl:text-[6rem] tracking-[1px] my-3 mb-8 capitalize indent-0 underline-offset-auto underline decoration-[var(--color-shakespeare)] text-[var(--color-whiteIce)]
}

.cover-subtitle {
  @apply font-normal text-[20px] leading-[25.2px] tracking-[2px] capitalize text-[var(--color-gray)]
}

.cover-joinButton {
  /* background-color: var(--color-rhino); */
  @apply bg-[var(--color-orange)] text-[var(--color-white)] px-20 font-bold text-[18px] mt-16
}



/* left right split containers */
.section-container {
  @apply relative bg-custom-white border border-x-0 border-custom-black
}

.text-container {
  @apply flex flex-col md:flex-row h-full md:h-screen w-full p-10 md:p-20 lg:p-40 justify-between gap-10
}

.graphic-container {
  @apply my-auto flex flex-row h-full
}

.graphic-cell {
  @apply my-auto flex flex-col gap-2 items-center text-center
}

.leftText {
  @apply flex flex-col justify-center h-full
}

.rightImage {
  @apply justify-center my-auto flex flex-col h-full
}

/* table container */
.mainContent-container {
  @apply bg-custom-gray/[0.8] h-auto md:h-full gap-3 md:gap-0 p-3 md:p-5 lg:p-10 flex flex-col justify-between
}

.title-container {
  @apply bg-custom-lightBlack/[0.8] h-auto md:h-full w-12 md:w-20 flex items-center justify-center
}

.image-container {
  @apply h-[60px] md:h-[100px] w-[60px] md:w-[100px] bg-[var(--color-orange)] rounded-full
}

/* timeline */
.timeline-container {
  @apply flex flex-col justify-center h-full my-auto justify-items-end gap-5
}

.timeline-event {
  @apply flex flex-row gap-5 w-full
}

.timeline-date {
  @apply my-auto ml-auto
}

.marker-line-wrapper {
  @apply relative flex items-center md:w-[100px] md:h-full w-[60px];
  /* width: 100px;
  height: 100%; */
}

.timeline-marker {
  /* @apply z-10 relative */
  z-index: 1;
  position: relative;
}

.timeline-line {
  position: absolute;
  top: 100%; /* Position line below the marker */
  left: 50%;
  transform: translateX(-50%);
  width: 3px; /* Thickness of the line */
  height: calc(100% + 20px); /* Adjust height to fit between markers */
  background-color: var(--color-black); /* Same color as marker */
  z-index: 1; /* Ensure line goes behind the marker */
}

.timeline-arrow {
  position: absolute;
  top: calc(200% + 20px); /* Position arrow below the marker */
  left: 50%;
  transform: translateX(-50%);
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--color-black); /* Arrow color, same as line and marker */
  z-index: 1;
}

.timeline-content {
  @apply flex flex-col justify-center w-1/2 
}

/* collection */
.collection-container {
  @apply grid grid-cols-1 md:grid-cols-2 gap-8 w-full;
}

.card-item {
  @apply flex flex-col items-center justify-center;
}

.card-content {
  @apply w-full flex flex-col items-center gap-2;
}

.card-placeholder {
  @apply w-[350px] h-[250px] md:w-[450px] md:h-[350px] bg-custom-orange rounded-md shadow-2xl;
}

.card-label {
  @apply text-center text-[22px] font-medium mt-1 text-custom-rhino;
}

.card-label-dark {
  @apply text-custom-white;
}

.card-image {
  @apply rounded-md shadow-2xl;
}

/* collection news */
/* w-[850px] h-[450px] */
.newsCard-card {
  @apply w-[700px] h-auto bg-custom-white shadow-2xl rounded-xl;
}

.newsCard-card-placeholder {
  @apply w-[700px] h-[400px] bg-custom-orange shadow-2xl rounded-xl cursor-pointer;
}

.newsCard-title {
  @apply text-custom-rhino text-center font-medium text-[22px] mt-1
}

.newsCard-subtitle {
  @apply text-custom-gray text-center font-normal text-base mt-1
}

.newsCard-image {
  @apply mb-0;
}

.newsCard-placeholder {
  @apply w-[500px] h-[320px] bg-custom-orange;
}

.newsCard-date {
  @apply text-custom-rhino font-bold text-base tracking-widest absolute bottom-1 left-1 uppercase;
}

/* team page */
.team-background {
  @apply !bg-transparent bg-fixed bg-cover bg-center min-h-screen my-auto;
  background-image: url('../public/assets/images/background.jpg');
}

.team-title {
  @apply text-custom-whiteIce font-bold text-5xl w-full mx-auto text-center
}

/* divide-x-2 divide-custom-white  */
.profiles-grid {
  @apply w-full h-auto bg-custom-white/55 rounded-lg grid grid-cols-1 md:grid-cols-3 
}

.profile-cell {
  @apply rounded-xl border-2 border-custom-white flex flex-col m-12 justify-center transform transition-transform duration-300 hover:scale-105;
  /* perspective: 1000px; */
  position: relative;
}

.profile-cell:hover {
  @apply cursor-pointer
}

.card-content {
  @apply w-full h-full;
  /* width: 100%;
  height: 100%;
  position: absolute; */
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.profile-cell.flipped .card-content {
  transform: rotateY(180deg);
}

.profile-mainContents {
  @apply p-10 justify-center items-center text-center flex flex-col h-full my-auto;
  /* front of the card */
  backface-visibility: hidden;
}

/* Back of the card (content shown when flipped) */
.profile-cell.flipped .profile-mainContents, .profile-cell.flipped .socials-grid {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.profile-image {
  @apply rounded-full bg-custom-orange w-[130px] h-[130px]
}

.profile-name {
  @apply font-medium text-2xl text-custom-rhino
}

.profile-role {
  @apply font-bold text-sm tracking-wider text-custom-rhino/40 uppercase
}

.profile-description {
  @apply font-normal text-base tracking-wider text-custom-rhino/40 my-2
}

.socials-grid {
  @apply flex flex-row justify-center items-center w-full p-5 border-t-2 border-custom-white h-20
}

.socials-cell {
  @apply w-full flex justify-center
}

.socials-icon {
  @apply w-8 h-full text-custom-rhino/40 transform transition-transform duration-300 hover:scale-125 hover:text-custom-orange/70
}


/* sponsorship tier cards */
.tier-card {
  @apply rounded-xl border border-custom-black shadow-lg flex flex-col
}

.tier-top {
  @apply w-full bg-custom-black rounded-t-xl p-12 px-20 text-custom-orange flex flex-col gap-5
}

.tier-amount {
  @apply font-medium text-2xl
}

.tier-title {
  @apply font-bold text-6xl
}

.tier-bottom {
  @apply w-full bg-custom-gray p-12 px-20 flex flex-col gap-5 list-none rounded-b-xl 
}

.tier-benefit {
  @apply flex flex-row items-center gap-5 w-full
}

.tier-checked {
  @apply font-extrabold
}

.tier-benefitText {
  @apply font-medium text-base text-custom-rhino
}


/* testimonial */
.testimonial-container {
  @apply rounded-lg
}

.testimonial-image-container {
  @apply h-[250px] w-[250px]  rounded-full
}

/* subteam text */
.subteam-text-container {
  @apply h-full flex flex-col gap-5
}


/* text */
/* text-[64px] */
.header {
  @apply text-[var(--color-orange)] font-bold text-3xl md:text-5xl lg:text-[64px] mb-2 md:mb-5 m-0 p-0
}

.subHeader {
  @apply font-bold text-lg md:text-[32px] leading-9 text-[var(--color-rhino)]
}

.description {
  @apply font-normal text-base md:text-xl lg:text-2xl leading-6 md:leading-10 tracking-wide
}

.emphasis {
  @apply italic tracking-widest text-[var(--color-orange)]
}

.tableTitle {
  @apply text-[var(--color-rhino)] font-medium text-lg md:text-2xl lg:text-3xl
}

.tableSubtitle {
  @apply text-[var(--color-lightBlack)] font-bold text-xs md:text-sm lg:text-base tracking-wider
}